In [1]:
import pandas as pd

In [2]:
path='fuel-type-data_ciso.csv'

In [3]:
import os
os.getcwd()

'c:\\Users\\basil\\Documents\\Time-Series-Forecasting-Python-\\4_Assignment'

In [4]:
df_c = pd.read_csv(path)
df_c

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2025-09-02 23:00:00-07:00,CISO,California Independent System Operator,COL,Coal,0.0,megawatthours
1,2025-09-02 23:00:00-07:00,CISO,California Independent System Operator,NG,Natural Gas,18057.0,megawatthours
2,2025-09-02 23:00:00-07:00,CISO,California Independent System Operator,NUC,Nuclear,2258.0,megawatthours
3,2025-09-02 23:00:00-07:00,CISO,California Independent System Operator,OIL,Petroleum,46.0,megawatthours
4,2025-09-02 23:00:00-07:00,CISO,California Independent System Operator,OTH,Other,5169.0,megawatthours
...,...,...,...,...,...,...,...
451921,2018-12-31 16:00:00-08:00,CISO,California Independent System Operator,OIL,Petroleum,88.0,megawatthours
451922,2018-12-31 16:00:00-08:00,CISO,California Independent System Operator,OTH,Other,-22.0,megawatthours
451923,2018-12-31 16:00:00-08:00,CISO,California Independent System Operator,SUN,Solar,1222.0,megawatthours
451924,2018-12-31 16:00:00-08:00,CISO,California Independent System Operator,WAT,Hydro,2403.0,megawatthours
451925,2018-12-31 16:00:00-08:00,CISO,California Independent System Operator,WND,Wind,2497.0,megawatthours

#### Preprocess data

In [19]:
COLUMN_DATETIME = "period"
TIMEZONE = "America/Los_Angeles"

x = pd.to_datetime(df_c[COLUMN_DATETIME], utc=True)
x = x.dt.tz_convert(TIMEZONE)

df_c[COLUMN_DATETIME] = x
x

0        2025-09-02 23:00:00-07:00
1        2025-09-02 23:00:00-07:00
2        2025-09-02 23:00:00-07:00
3        2025-09-02 23:00:00-07:00
4        2025-09-02 23:00:00-07:00
                    ...
451921   2018-12-31 16:00:00-08:00
451922   2018-12-31 16:00:00-08:00
451923   2018-12-31 16:00:00-08:00
451924   2018-12-31 16:00:00-08:00
451925   2018-12-31 16:00:00-08:00
Name: period, Length: 451926, dtype: datetime64[us, America/Los_Angeles]

In [13]:
df_c[COLUMN_DATETIME] = x

### Local timezones

In [17]:
TIMEZONE = "America/Los_Angeles"

x = df_c[COLUMN_DATETIME]

try:
    x = x.dt.tz_localize(None).astype("datetime64[ns]")
except Exception as e:
    print(e)

x

0        2025-09-03 06:00:00
1        2025-09-03 06:00:00
2        2025-09-03 06:00:00
3        2025-09-03 06:00:00
4        2025-09-03 06:00:00
                 ...
451921   2019-01-01 00:00:00
451922   2019-01-01 00:00:00
451923   2019-01-01 00:00:00
451924   2019-01-01 00:00:00
451925   2019-01-01 00:00:00
Name: period, Length: 451926, dtype: datetime64[ns]

Cannot convert tz-naive timestamps, use tz_localize to localize

0        2025-09-02 23:00:00
1        2025-09-02 23:00:00
2        2025-09-02 23:00:00
3        2025-09-02 23:00:00
4        2025-09-02 23:00:00
                 ...
451921   2018-12-31 16:00:00
451922   2018-12-31 16:00:00
451923   2018-12-31 16:00:00
451924   2018-12-31 16:00:00
451925   2018-12-31 16:00:00
Name: period, Length: 451926, dtype: datetime64[ns]