In [1]:
import pandas as pd

In [2]:
path='fuel-type-data_ciso.csv'

In [3]:
import os
os.getcwd()

'c:\\Users\\basil\\Documents\\Time-Series-Forecasting-Python-\\4_Assignment'

In [4]:
df_c = pd.read_csv(path)
df_c

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2025-09-02 23:00:00-07:00,CISO,California Independent System Operator,COL,Coal,0.0,megawatthours
1,2025-09-02 23:00:00-07:00,CISO,California Independent System Operator,NG,Natural Gas,18057.0,megawatthours
2,2025-09-02 23:00:00-07:00,CISO,California Independent System Operator,NUC,Nuclear,2258.0,megawatthours
3,2025-09-02 23:00:00-07:00,CISO,California Independent System Operator,OIL,Petroleum,46.0,megawatthours
4,2025-09-02 23:00:00-07:00,CISO,California Independent System Operator,OTH,Other,5169.0,megawatthours
...,...,...,...,...,...,...,...
451921,2018-12-31 16:00:00-08:00,CISO,California Independent System Operator,OIL,Petroleum,88.0,megawatthours
451922,2018-12-31 16:00:00-08:00,CISO,California Independent System Operator,OTH,Other,-22.0,megawatthours
451923,2018-12-31 16:00:00-08:00,CISO,California Independent System Operator,SUN,Solar,1222.0,megawatthours
451924,2018-12-31 16:00:00-08:00,CISO,California Independent System Operator,WAT,Hydro,2403.0,megawatthours
451925,2018-12-31 16:00:00-08:00,CISO,California Independent System Operator,WND,Wind,2497.0,megawatthours

#### Preprocess data

In [19]:
COLUMN_DATETIME = "period"
TIMEZONE = "America/Los_Angeles"

x = pd.to_datetime(df_c[COLUMN_DATETIME], utc=True)
x = x.dt.tz_convert(TIMEZONE)

df_c[COLUMN_DATETIME] = x
x

0        2025-09-02 23:00:00-07:00
1        2025-09-02 23:00:00-07:00
2        2025-09-02 23:00:00-07:00
3        2025-09-02 23:00:00-07:00
4        2025-09-02 23:00:00-07:00
                    ...
451921   2018-12-31 16:00:00-08:00
451922   2018-12-31 16:00:00-08:00
451923   2018-12-31 16:00:00-08:00
451924   2018-12-31 16:00:00-08:00
451925   2018-12-31 16:00:00-08:00
Name: period, Length: 451926, dtype: datetime64[us, America/Los_Angeles]

In [13]:
df_c[COLUMN_DATETIME] = x

#### Available series inside dataset

In [21]:
COLUMN_CATEGORIES = ['respondent','respondent-name','fueltype','type-name']

df_c[COLUMN_CATEGORIES].drop_duplicates().style

#### Set index <br> The index is composed by the columns that uniquely identify the rows. The datetime column must be present.

In [22]:
COLUMN_CATEGORIES = ['respondent-name','type-name']

idx = COLUMN_CATEGORIES + [COLUMN_DATETIME]
x = df_c.set_index(idx).sort_index()
x

                                                                           respondent  \
respondent-name                        type-name period
California Independent System Operator Coal      2018-12-31 16:00:00-08:00       CISO
                                                 2018-12-31 17:00:00-08:00       CISO
                                                 2018-12-31 18:00:00-08:00       CISO
                                                 2018-12-31 19:00:00-08:00       CISO
                                                 2018-12-31 20:00:00-08:00       CISO
...                                                                               ...
                                       Wind      2025-09-02 19:00:00-07:00       CISO
                                                 2025-09-02 20:00:00-07:00       CISO
                                                 2025-09-02 21:00:00-07:00       CISO
                                                 2025-09-02 22:00:00-07:00       CISO
                                                 2025-09-02 23:00:00-07:00       CISO

                                                                           fueltype  \
respondent-name                        type-name period
California Independent System Operator Coal      2018-12-31 16:00:00-08:00      COL
                                                 2018-12-31 17:00:00-08:00      COL
                                                 2018-12-31 18:00:00-08:00      COL
                                                 2018-12-31 19:00:00-08:00      COL
                                                 2018-12-31 20:00:00-08:00      COL
...                                                                             ...
                                       Wind      2025-09-02 19:00:00-07:00      WND
                                                 2025-09-02 20:00:00-07:00      WND
                                                 2025-09-02 21:00:00-07:00      WND
                                                 2025-09-02 22:00:00-07:00      WND
                                                 2025-09-02 23:00:00-07:00      WND

                                                                            value  \
respondent-name                        type-name period
California Independent System Operator Coal      2018-12-31 16:00:00-08:00    9.0
                                                 2018-12-31 17:00:00-08:00   11.0
                                                 2018-12-31 18:00:00-08:00   11.0
                                                 2018-12-31 19:00:00-08:00   10.0
                                                 2018-12-31 20:00:00-08:00   10.0
...                                                                           ...
                                       Wind      2025-09-02 19:00:00-07:00  891.0
                                                 2025-09-02 20:00:00-07:00  961.0
                                                 2025-09-02 21:00:00-07:00  758.0
                                                 2025-09-02 22:00:00-07:00  801.0
                                                 2025-09-02 23:00:00-07:00  882.0

                                                                              value-units
respondent-name                        type-name period
California Independent System Operator Coal      2018-12-31 16:00:00-08:00  megawatthours
                                                 2018-12-31 17:00:00-08:00  megawatthours
                                                 2018-12-31 18:00:00-08:00  megawatthours
                                                 2018-12-31 19:00:00-08:00  megawatthours
                                                 2018-12-31 20:00:00-08:00  megawatthours
...                                                                                   ...
                                       Wind      2025-09-02 19:00:00-07:00  megawatthours
                                                 2025-09-02 20:00:00-07:00  megawatthours
                                                 2025-09-02 21:00:00-07:00  megawatthours
                                                 2025-09-02 22:00:00-07:00  megawatthours
                                                 2025-09-02 23:00:00-07:00  megawatthours

[451926 rows x 4 columns]

In [23]:
x.index.is_unique

True

In [24]:
df = x.copy()

#### Select values column

In [ ]:
COLUMN_VALUES = "value"
x =